<router-outlet></router-outlet>
<notifier-container></notifier-container>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Roles</h1>
      </div>
      <div class="col-sm-6 text-right">
        <!-- <button type="button" class="btn btn-outline-primary btn-sm">Primary</button> -->
        <a [routerLink]="['add']" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i> Tạo roles mới</a>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6 ">
            <div class="d-flex">
              <div class="input-group input-group-sm">
                <input type="text" name="table_search" (keydown.enter)="loadPage()" class="form-control float-right" [(ngModel)]="this.filterDto.filter" placeholder="Search">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-default" (click)="loadPage()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
              <button type="button" title="Tìm kiếm nâng cao" class="btn btn-outline-secondary btn-sm ml-3" ><i class="fas fa-filter"></i></button>
            </div>

          </div>
          <div class="col-md-6">
            <div class=" d-flex justify-content-end">
              <button type="button" (click)="onDeleteRange()" class="btn btn-outline-danger btn-sm" ><i class="far fa-trash-alt"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th style="vertical-align: middle; text-align: center;" [width]="40">
                <input class="" type="checkbox" [(ngModel)]="selectedAll" (click)="selectAll()">
              </th>
              <th>Tên vai trò</th>
              <th>Ngày tạo</th>
              <th [width]="120">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="paginatedList?.items?.length >0">
              <tr *ngFor="let item of paginatedList?.items; let idx = index;">
                <td style="width: 10px">{{idx+1}}</td>
                <td style="vertical-align: middle; text-align: center;">
                  <input type="checkbox" class="" [(ngModel)]="item.selected" (click)="selectItem(item)">
                </td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>
                  <a title="Chỉnh sửa" class="btn text-info" [routerLink]="['edit/'+item.id]" ><i class="far fa-edit"></i></a>
                  <a title="Xóa" class="btn text-danger" *ngIf="!item.using" (click)="onDelete(item.id)" ><i class="far fa-trash-alt"></i></a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <ng-container *ngIf="paginatedList?.items?.length<=0">
          <div class="text-center">Không tìm thấy thông tin</div>
        </ng-container>
       </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <div style="float: left;">
          <span class="mr-10">
            <b class="mr-10">Số lượng: </b><span>{{paginatedList?.itemsCount}}</span>
        </span>
        <span class="mr-10">
            <b>Phân trang: </b>
            <select style="width: 80px;" [(ngModel)]="filterDto.pageSize" (change)="loadPage()">
                <option *ngFor="let opt of pageSizeOptions" [value]="opt" [selected]="opt.selected == true">{{opt}}</option>
            </select>
        </span>
        <span>
            <b>Tới trang: </b>
            <span>
                <input style="width: 80px;" id="role-page-index" type="number" class="form-control-sm mr-3" [(ngModel)]="filterDto.pageIndex"
                (ngModelChange)="loadPage()">
            </span>
        </span>
        </div>
        <div *ngIf="loadingDone && paginatedList?.items?.length >0" style="float: right;">
          <ngb-pagination
          [(page)]="filterDto.pageIndex"
          [pageSize]="filterDto?.pageSize"
          [maxSize]="4"
          [boundaryLinks]="true"
          [collectionSize]="paginatedList?.itemsCount"
          (pageChange)="loadPage()" size="sm"></ngb-pagination>

        </div>
      </div>
    </div>
  </div>
</section>
